In [ ]:
import numpy as np
import pandas as pd

In [ ]:
df1 = pd.read_csv("info_base_games.csv", low_memory=False)
df2 = pd.read_csv("dlcs.csv")
df3 = pd.read_csv("demos.csv")
df4 = pd.read_csv("gamalytic_steam_games.csv")
df5 = pd.read_csv("scraped_data.csv")

In [ ]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 99166 entries, 0 to 99165
Data columns (total 10 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   appid                99166 non-null  int64
 1   name                 99148 non-null  object
 2   metacritic           3018 non-null   float64
 3   steam_achievements   99166 non-null  bool
 4   steam_trading_cards  99166 non-null  bool
 5   workshop_support     99166 non-null  bool
 6   genres               94388 non-null  object
 7   achievements_total   38114 non-null  float64
 8   release_date         98860 non-null  object
 9   supported_platforms  99166 non-null  object
dtypes: bool(3), float64(2), int64(1), object(4)
memory usage: 5.6+ MB

In [ ]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5444 entries, 0 to 5443
Data columns (total 3 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   base_appid  5444 non-null   int64
 1   dlc_appid   5444 non-null   int64
 2   name        5444 non-null   object
dtypes: int64(2), object(1)
memory usage: 127.7+ KB

In [ ]:
df3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15448 entries, 0 to 15447
Data columns (total 4 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Unnamed: 0       15448 non-null  int64
 1   full_game_appid  15448 non-null  int64
 2   demo_appid       15448 non-null  int64
 3   name             15447 non-null  object
dtypes: int64(3), object(1)
memory usage: 482.9+ KB

In [ ]:
df4.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 93338 entries, 0 to 93337
Data columns (total 6 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   steamId         93338 non-null  int64
 1   price           93338 non-null  float64
 2   copiesSold      93338 non-null  int64
 3   publisherClass  93338 non-null  object
 4   reviewScore     93338 non-null  int64
 5   aiContent       0 non-null      float64
dtypes: float64(2), int64(3), object(1)
memory usage: 4.3+ MB

In [ ]:
df5.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 93338 entries, 0 to 93337
Data columns (total 4 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   steamId           93338 non-null  int64
 1   discount          93338 non-null  object
 2   languages         93338 non-null  object
 3   positive_reviews  93338 non-null  int64
dtypes: int64(2), object(2)
memory usage: 2.8+ MB

In [ ]:
df1['has_dlc'] = df1['appid'].isin(df2['base_appid']).astype(int)

In [ ]:
df1['has_demo'] = df1['appid'].isin(df3['full_game_appid']).astype(int)

In [ ]:
merged_df = pd.merge(
    df1,
    df4,
    how='inner',
    left_on='appid',
    right_on='steamId',
    suffixes=('_info', '_gamalytic')
)

merged_df.to_csv("merged_df1_df4.csv", index=False)

In [ ]:
final_df = pd.merge(
    merged_df,
    df5,
    how='inner',
    left_on='steamId',
    right_on='steamId',
    suffixes=('', '_scraped')
)

if 'steamId' in final_df.columns and 'appid' in final_df.columns:
    final_df.drop(columns=['steamId'], inplace=True)

print(f"Total rows: {final_df.shape[0]}")
print(f"Total columns: {final_df.shape[1]}")
print("\nColumns:\n", final_df.columns.tolist())

Total rows: 69428
Total columns: 20

Columns:
 ['appid', 'name', 'metacritic', 'steam_achievements', 'steam_trading_cards', 'workshop_support', 'genres', 'achievements_total', 'release_date', 'supported_platforms', 'has_dlc', 'has_demo', 'price', 'copiesSold', 'publisherClass', 'reviewScore', 'aiContent', 'discount', 'languages', 'positive_reviews']

In [ ]:
print(final_df.columns.tolist())
print(final_df.shape)

pd.set_option('display.max_columns', None)
pd.set_option('display.width', None)
display(final_df.head())

['appid', 'name', 'metacritic', 'steam_achievements', 'steam_trading_cards', 'workshop_support', 'genres', 'achievements_total', 'release_date', 'supported_platforms', 'has_dlc', 'has_demo', 'price', 'copiesSold', 'publisherClass', 'reviewScore', 'aiContent', 'discount', 'languages', 'positive_reviews']
(69428, 20)

,appid,name,metacritic,steam_achievements,steam_trading_cards,workshop_support,genres,achievements_total,release_date,supported_platforms,has_dlc,has_demo,price,copiesSold,publisherClass,reviewScore,aiContent,discount,languages,positive_reviews
0,2574000,Femboy Burgers,NaN,True,True,True,"Casual, Indie",NaN,09-Oct-23,"['windows', 'mac', 'linux']",0,0,19.99,1727,Indie,88,NaN,No discount,['[]'],129
1,2574120,PPA Pickleball Tour 2025,NaN,True,True,True,"Indie, Simulation, Sports",18.0,16-Jul-24,"['windows', 'mac', 'linux']",0,0,29.99,367,Indie,38,NaN,No discount,['English'],7
2,2573200,Squeaky Squad,NaN,True,True,True,"Action, Adventure, Indie",27.0,29-Mar-24,"['windows', 'mac', 'linux']",0,0,0.00,1298,Hobbyist,82,NaN,No discount,['English'],32
3,2569520,Naturpark Lillebælt VR,NaN,True,True,True,"Action, Adventure",NaN,18-Sep-23,"['windows', 'mac', 'linux']",0,0,0.00,65,Hobbyist,75,NaN,No discount,"['English', 'Danish']",3
4,2567670,A Lively Haunt,NaN,True,True,True,"Adventure, Indie",NaN,07-Sep-23,"['windows', 'mac', 'linux']",0,0,9.99,47,Indie,100,NaN,No discount,['English'],4

In [ ]:
output_path = "final_df_merged.csv"
final_df.to_csv(output_path, index=False)